
        body {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: burlywood;
            margin: 0;
            padding: 0;

        }
        main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        form {
            margin-top: 20px;
            max-width: 400px;
            /* margin: 20px auto; */
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 100%;
        }

        h2{
            text-align: center;
            color: #454341;
        }

        div {
            font-size: 18px;
            margin-bottom: 20px;
            
            
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            color: #333;
        }

        button {
            background-color: #b08545;
            color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            transition: background-color 0.3s ease;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            
        }

        button:hover {
            background-color: gray;
        
        }
  

        