*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
   
    
}
body, .input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

input[type=text], input[type=password]{
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    margin-bottom: 20px;
}

form{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #DBD8CD;
    padding: 50px;
    box-shadow: -2px 0px 15px 3px rgba(0, 0, 0, 0.1);
}
.username{
    margin-top: 30px;
}
input[type=submit]{
    padding: 10px;
    width: 100%;
    background-color: aliceblue;
    border: 1px solid black;
    margin-bottom: 20px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(183, 185, 187);
}