*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
   
    
}



.nav{
    position: absolute;
    top: 0;
    left: 0%;
width: 15rem;
height: 100%;
display: flex;
background-color: rgb(255, 255, 255);
justify-content: center;
padding: 10px;
box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);



}

.nav ul li {
    margin-top: 2rem;
    list-style: none;
  
   
} 
a{
    color: black;
}