main {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}
.parent-box {
  margin-top: 5rem;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  margin-left: 25rem;
  margin-right: 10rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-width: 1300px;
}
&& h2 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  margin-left: 20px;
  margin-top: 1rem;
  font-size: 2rem;
  
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}
table td{
  font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
table th,
table td {
  padding: 10px;
  text-align: center;
}
table tr {
  border: 1px solid #ffffff8a;
  text-align: center;
}
tr:nth-child(even) {
    background-color: #e5d2b8;
  }
table thead {
  position: sticky;
}

table th {
  background-color: #d2a880;
  font-weight: bold;
  
  color: rgb(255, 255, 255);
}
.overall{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100px;
  
  margin-top: 3rem;
  margin-left: 25rem;
  margin-right: 10rem;
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.create{
  margin-top: 1rem;
}