.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
     
}

.child
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:  1px solid #212125;
    border-radius: 25px;
    margin: 15px;
    padding: 20px;

}
.grid img{
    max-width: 350px;
    max-height: 350px;
}
.title{
    margin-top: 20px;
    width: 100%;
    background-color: #212125;
}
.title h1{
   margin: 10px;
   font-weight: 600;
  font-size: 3rem;
  margin-left: 10rem;
  color: aliceblue;
}
h3{
    text-align: center;
}

input[type=submit]{
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    border: 0px;
    min-width:5rem;
    margin-top: 10px;
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: greenyellow;
}
input[type=number]{
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid black;
    min-width:5rem;
    margin-top: 10px;
}.grid
a{
    margin-top: 5px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 20px;
    color: #212125;
    background-color: beige;
    text-decoration: none;
}